
V1/\.ipynb_checkpoints/

V2_1709/\.ipynb_checkpoints/

notebooks/\.ipynb_checkpoints/

FigJar/\.~lock\.beaching_mx0\.odg#

FigJar/\.~lock\.beaching_mp0\.odg#

FigJar/\.~lock\.beaching_mpp0\.odg#

FigJar/\.~lock\.beaching_mu0\.odg#
